<p style="color: green"><%= notice %></p>

<%= render @blog_entry %>

<div>
  <%= link_to "Edit this entry", edit_blog_entry_path(@blog_entry) %> |
  <%= link_to "Back to entries", blog_entries_path %>

  <%= button_to "Destroy this entry", @blog_entry, method: :delete %>
</div>
